:root {
    --tailwindBlue: #01b7d6;
}

#overlay {
    background: rgb(0, 0, 0, .5);
    top: 20%;
    left: 0;
    height: 125px;
    width: 100%;
    font-size: 2rem;
    font-family: 'Prompt', sans-serif;
}

#top-content {
    height: 34%;
}

#middle-content {
    height: 68%;
    display: flex;
    align-items: center; 
    justify-content:center;
}

#forms {
    display: grid;
    grid-template-rows: 3rem 3rem 3rem;
    grid-template-columns: 20rem 20rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

#bottom-content {
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input {
    border: solid 1px #b4b4b4;
    border-radius: 6px;
    padding: 4px;
    padding-left: .8rem;
}

.form-container input:focus {
    border-color: var(--tailwindBlue);
}

#submit-button {
    color: var(--tailwindBlue);
    transition: ease-in-out .2s;
    border: solid 2px var(--tailwindBlue);
}

#submit-button:hover {
    background-color: var(--tailwindBlue);
    color: white;
}

p a,
p span {
    color: var(--tailwindBlue);
    font-weight: bold;
}